<div class="container mx-auto mt-10 bg-slate-200">
    <h2 class="text-3xl font-bold text-center text-teal-900">Ingrese sus credenciales</h2>
  
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <mat-form-field class="w-full mt-4">
        <mat-label>Rut</mat-label>
        <input matInput formControlName="rut" required>
      </mat-form-field>

      <mat-form-field class="w-full mt-4">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="contrasena" required>
      </mat-form-field>
  
      <button mat-raised-button type="submit" class="mt-4" color="primary">Iniciar Sesion</button>
    </form>
  </div>