.container {/* Fondo blanco */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
  }
  
  /* Estilos específicos para campos de formulario */
  mat-form-field {
    width: 100%;
  }
  
  mat-input {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  mat-label {
    font-weight: bold;
  }
  
  /* Botón de registro */
  mat-raised-button {
    background-color: #1976d2; /* Color azul */
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  mat-raised-button:hover {
    background-color: #1560ad; /* Color azul más oscuro al pasar el cursor */
  }